<div class="wrapper col4">
  <div id="container">
    <div id="content">
	  	<table summary="Genotypes" cellpadding="0" cellspacing="0">
		<thead>
		  <tr>
		    <th>Code</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<% light = true %>
		<% @genotypes.each do |genotype| %>
		<% if light %>
		  <tr class="light">
		<% else %>
		  <tr class="dark">
		<% end %>
	    <td><%= genotype.codigo %></td>
	    <td><%= link_to 'Show', genotype %></td>
	    <td><%= link_to 'Edit', edit_genotype_path(genotype) %></td>
	    <td><%= link_to 'Destroy', genotype, confirm: 'Are you sure?', method: :delete %></td>
		<% light = !light%>
		  </tr>
		<% end %>
		</table>
		<%= will_paginate @genotypes %><br/>
		
		<%= link_to 'New Genotype', new_genotype_path %>
	</div>
   <div class="clear"></div>
  </div>
</div>