<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Gender" %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label "Passage" %><br />
    <%= f.number_field :passagem %>
  </div>
  <div class="field">
    <%= f.label "Birth date" %><br />
    <%= f.text_field :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label "Records" %><br />
    <%= f.text_field :prontuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
