<div class="wrapper col4">
  <div id="container">
    <div id="content">
	  	<table summary="Doctor" cellpadding="0" cellspacing="0">
		<thead>
		  <tr>
		    <th>CRM</th>
		    <th>Name</th>
		    <th>E-Mail</th>
		    <th>Phone</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<% light = true %>
		<% @doctors.each do |doctor| %>
		<% if light %>
		  <tr class="light">
		<% else %>
		  <tr class="dark">
		<% end %>
	    <td><%= doctor.crm %></td>
	    <td><%= doctor.nome %></td>
	    <td><%= doctor.email %></td>
	    <td><%= doctor.telefone %></td>
	    <td><%= link_to 'Details', doctor %></td>
	    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
	    <td><%= link_to 'Destroy', doctor, confirm: 'Are you sure?', method: :delete %></td>
			<% light = !light%>
		  </tr>
		<% end %>
		</table>
		<%= will_paginate @doctors %><br/>
		<%= link_to 'New Doctor', new_doctor_path %>
	</div>
   <div class="clear"></div>
  </div>
</div>