	<%= form_for(@examination) do |f| %>
		  <% if @examination.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

		      <ul>
		      <% @examination.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.label "Collection date" %><br />
		    <%= f.date_select :data_coleta %>
		  </div>


		Patient: <br/> 
		<%= select(:examination, :patient_id, Patient.all.map{|u| [u.prontuario, u.id]})%>

		<br/>
		Doctor: <br/> 
		<%= select(:examination, :doctor_id, Doctor.all.map{|u| [u.nome, u.id]})%>

		<br/>
		Genotype: <br/> 
		<%= select(:examination, :genotype_id, Genotype.all.map{|u| [u.codigo, u.id]})%>
		
		<br/>
		Used drugs:<br/>
		<% for drug in Drug.find(:all) %>
			<div>
		  	<%= check_box_tag "examination[usesOfDrug_ids][]", drug.id, @examination.usesOfDrugs.include?(drug) %>
		  	<%= drug.nome %>
			</div>
		<% end %>
		
		Resistance to drugs:<br/>
		<% for drug in Drug.find(:all) %>
			<div>
		  	<%= check_box_tag "examination[resistancesToDrug_ids][]", drug.id, @examination.resistancesToDrugs.include?(drug) %>
		  	<%= drug.nome %>
			</div>
		<% end %>
		Mutations:<br/>
		<% for mutation in Mutation.find(:all) %>
			<div>
		  	<%= check_box_tag "examination[mutation_ids][]", mutation.id, @examination.mutations.include?(mutation) %>
		  	<%= mutation.codigo %>
			</div>
		<% end %>
		
		<br>
		  <div class="field">
		    <%= f.label "Viral load" %><br />
		    <%= f.text_field :carga_viral %>
		  </div>
		  <div class="field">
		    <%= f.label :aghbs %><br />
		    <%= f.text_field :aghbs %>
		  </div>
		  <div class="field">
		    <%= f.label "Period" %><br />
		    <%= f.text_field :periodo %>
		  </div>

		  <div class="actions">
		    <%= f.submit%>
		  </div>
		<% end %>
		
		
