<h1>Listing examinations</h1>

<table>
  <tr>
    <th>Data coleta</th>
    <th>Carga viral</th>
    <th>Aghbs</th>
    <th>Periodo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @examinations.each do |examination| %>
  <tr>
    <td><%= examination.data_coleta %></td>
    <td><%= examination.carga_viral %></td>
    <td><%= examination.aghbs %></td>
    <td><%= examination.periodo %></td>
    <td><%= link_to 'Show', examination %></td>
    <td><%= link_to 'Edit', edit_examination_path(examination) %></td>
    <td><%= link_to 'Destroy', examination, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Examination', new_examination_path %>
