<div class="wrapper col4">
  <div id="container">
    <div id="content">
	  	<table summary="Summary Here" cellpadding="0" cellspacing="0">
		<thead>
		  <tr>
		    <th>Data coleta</th>
		    <th>Medico</th>
		    <th>Paciente</th>
		    <th>Genotipo</th>
		    <th>Carga viral</th>
		    <th>Aghbs</th>
		    <th>Periodo</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<% light = true %>
		<% @examinations.each do |examination| %>
		<% if light %>
		  <tr class="light">
		<% else %>
		  <tr class="dark">
		<% end %>
			<td>     <%= examination.data_coleta %>     </td>
		    <td><%= examination.doctor.nome %></td>
		    <td><%= examination.patient.prontuario %></td>
		    <td><%= examination.genotype.codigo %></td>
		    <td><%= examination.carga_viral %></td>
		    <td><%= examination.aghbs %></td>
		    <td><%= examination.periodo %></td>
		    <td><%= link_to 'Detalhes', examination %></td>
		    <td><%= link_to 'Editar', edit_examination_path(examination) %></td>
		    <td><%= link_to 'Apagar', examination, confirm: 'Are you sure?', method: :delete %></td>
			<% light = !light%>
		  </tr>
		<% end %>
		</table>
		<%= link_to 'Novo Exame', new_examination_path %>
	    </div>
    <div class="clear"></div>
  </div>
</div>