<div class="wrapper col4">
  <div id="container">
    <div id="content">
	
		<%= form_for(:examination, :url => { :action => "index" }, :html => {:method => :get} ) do |f| %>
			Start date: <%= select_date Date.today, :prefix => :start_date %> 
			<br/>End date:<%= select_date Date.today, :prefix => :end_date %><%= f.submit 'Filter' %>
		<% end %>
		
	  	<table summary="Exams" cellpadding="0" cellspacing="0">
		<thead>
		  <tr>
		    <th>Collection date</th>
		    <th>Doctor</th>
		    <th>Patient</th>
		    <th>Genotype</th>
		    <th>Viral load</th>
		    <th>AgHBs</th>
		    <th>Period</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<% light = true %>
		<% @examinations.each do |examination| %>
		<% if light %>
		  <tr class="light">
		<% else %>
		  <tr class="dark">
		<% end %>
			<td>     <%= examination.data_coleta %>     </td>
		    <td><%= link_to examination.doctor.nome, examination.doctor %></td>
		    <td><%= link_to examination.patient.prontuario, examination.patient %></td>
		    <td><%= link_to examination.genotype.codigo, examination.genotype %></td>
		    <td><%= examination.carga_viral %></td>
		    <td><%= examination.aghbs %></td>
		    <td><%= examination.periodo %></td>
		    <td><%= link_to 'Details', examination %></td>
		    <td><%= link_to 'Edit', edit_examination_path(examination) %></td>
		    <td><%= link_to 'Destroy', examination, confirm: 'Are you sure?', method: :delete %></td>
			<% light = !light%>
		  </tr>
		<% end %>
		</table>
		<%= will_paginate @examinations %><br/>
		<%= link_to 'New Exam', new_examination_path %>
	</div>
   <div class="clear"></div>
  </div>
</div>