<div class="wrapper col4">
  <div id="container">
    <div id="content">
		<p id="notice"><%= notice %></p>
		<h1>Examination</h1>
		<p>
		  <b>Collection date:</b>
		  <%= @examination.data_coleta %>
		</p>

		<p>
		  <b>Viral load:</b>
		  <%= @examination.carga_viral %>
		</p>

		<p>
		  <b>Aghbs:</b>
		  <%= @examination.aghbs %>
		</p>

		<p>
		  <b>Period:</b>
		  <%= @examination.periodo %>
		</p>
		<p>
			<b>Patient:</b>
			<%= @examination.patient.prontuario %>
		</p>
		<p>
			<b>Doctor:</b>
			<%= @examination.doctor.nome %>
		</p>
		<p>
			<b>Genotype:</b>
			<%= @examination.genotype.codigo %>
		</p>		
		<p>
			<b>Used drugs:</b>
			<br/>
			<% DrugUse.find_all_by_examination_id(@examination.id).each do |drugUse| %>
				<br/><%= drugUse.drug.nome %>
			<% end %>
		</p>
		
		<p>
			<b>Resistance to drugs:</b>
			<br/>
			<% DrugResistance.find_all_by_examination_id(@examination.id).each do |drugResist| %>
				<br/><%= drugResist.drug.nome %>
			<% end %>
		</p>
		
		<p>
			<b>Mutations:</b>
			<br/>
			<% @examination.mutations.each do |mutation| %>
				<br/><%= mutation.nome %>
			<% end %>
		</p>
		
		<%= link_to 'Edit', edit_examination_path(@examination) %> |
		<%= link_to 'New', new_examination_path %> |
		<%= link_to 'Back', examinations_path %>
    </div>
    <div class="clear"></div>
  </div>
</div>

