<!DOCTYPE html>
<html>
<head>
  <title>Exames</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
		<% if user_signed_in? %>
			<div class="topo"> 
			</div>
			<div id="menu">
				<%= link_to "Exames", examinations_path%>
				<%= link_to "Desconectar", destroy_user_session_path, :method => :delete %>
			</div>
		<% end %>
		<%= yield %>
</body>
</html>
